doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/CSS/style.css")
    body    
        h1 #{title}
        
        a(href="http://localhost:3000") Return to the homepage
        br

        form(action="/update-cobj", method="post")
            label(for="pet_name") Pet Name:
            input(type="text", id="pet_name", name="pet_name", required)

            label(for="pet_color") Pet Color:
            input(type="text", id="pet_color", name="pet_color", required)

            label(for="pet_type") Pet Type:
            input(type="text", id="pet_type", name="pet_type", required)

            button(type="submit") Submit Pet Info